.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .container {
  flex: 1;
}

.header {
  padding-top: 24px;
  text-align: center;
}

.app-subtitle {
  color: var(--text);
  letter-spacing: 0.4px;
}
